<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP</title>
</head>
<body>
    <header>
        <nav>
            <picture>
                <a href="./index.html">
                    <img src="/images/branding/logo_light_horizontal.svg" alt="LOGO FUNKOSHOP">
                </a> 
            </picture>            
            <ul>
                <li>
                    <a href="./pages/shop/shop.html">SHOP</a>
                    </li>
                <li>
                    <a href="./pages/admin/contacto.html">CONTACTO</a>
                    </li>
                <li>
                    <a href="./pages/admin/admin.html">LOGIN</a>
                    </li>
                <li>
                    <a href="./pages/shop/carrito.html">
                        <img src="/images/icons/cart-icon.svg" alt="icono carrito">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <aside>
        <input type="text" name="BUSCAR" id="find">
        <p>ORDENAR POR</p>
        <P>PRECIO</P>
        <input type="number" name="MIN" id="min">
        <input type="number" name="MAX" id="max">
        <P>FILTRAR</P>
        <input type="checkbox" name="NUEVOS" id=""><p>NUEVOS</p>
        <input type="checkbox" name="OFERTAS" id=""><p>OFERTAS</p>
        <input type="checkbox" name="EDICION ESPECIAL" id=""><p>EDICION ESPECIAL</p>
        <input type="checkbox" name="FAVORITOS" id=""><p>FAVORITOS</p>
    </aside>
    <main>
        <ul>
            <li>
                <article>
                <a href="">
                    <picture>
                        <img src="/images/star-wars/trooper-1.webp" alt="">
                    </picture>
                    <div>
                        <p>STAR WARS</p>
                        <h4>STORMTROOPER LIGHTSABER</h4>
                        <p>$1799,99</p>
                        <p>3 CUOTAS SIN INTERES</p>
                    </div>
                </a>
                </article>
            </li>
            <li>
                <article>
                    <a href="">
                        <picture>
                            <img src="/images/pokemon/pidgeotto-1.webp" alt="">
                        </picture>
                        <div>
                            <p>POKEMON</p>
                            <h4>PIDGEOTTO</h4>
                            <p>$1799,99</p>
                            <p>3 CUOTAS SIN INTERES</p>
                        </div>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a href="">
                        <picture>
                            <img src="/images/harry-potter/luna-1.webp" alt="">
                        </picture>
                        <div>
                            <p>HARRY POTTER</p>
                            <h4>LUNA LOVEGOOD LION MASK</h4>
                            <p>$1799,99</p>
                            <p>3 CUOTAS SIN INTERES</p>
                        </div>
                    </a>
                </article>
            </li>
            <li>
                <article>
                <a href="">
                    <picture>
                        <img src="/images/star-wars/trooper-1.webp" alt="">
                    </picture>
                    <div>
                        <p>STAR WARS</p>
                        <h4>STORMTROOPER LIGHTSABER</h4>
                        <p>$1799,99</p>
                        <p>3 CUOTAS SIN INTERES</p>
                    </div>
                </a>
                </article>
            </li>
            <li>
                <article>
                    <a href="">
                        <picture>
                            <img src="/images/pokemon/pidgeotto-1.webp" alt="">
                        </picture>
                        <div>
                            <p>POKEMON</p>
                            <h4>PIDGEOTTO</h4>
                            <p>$1799,99</p>
                            <p>3 CUOTAS SIN INTERES</p>
                        </div>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a href="">
                        <picture>
                            <img src="/images/harry-potter/luna-1.webp" alt="">
                        </picture>
                        <div>
                            <p>HARRY POTTER</p>
                            <h4>LUNA LOVEGOOD LION MASK</h4>
                            <p>$1799,99</p>
                            <p>3 CUOTAS SIN INTERES</p>
                        </div>
                    </a>
                </article>
            </li>
            <li>
                <article>
                <a href="">
                    <picture>
                        <img src="/images/star-wars/trooper-1.webp" alt="">
                    </picture>
                    <div>
                        <p>STAR WARS</p>
                        <h4>STORMTROOPER LIGHTSABER</h4>
                        <p>$1799,99</p>
                        <p>3 CUOTAS SIN INTERES</p>
                    </div>
                </a>
                </article>
            </li>
            <li>
                <article>
                    <a href="">
                        <picture>
                            <img src="/images/pokemon/pidgeotto-1.webp" alt="">
                        </picture>
                        <div>
                            <p>POKEMON</p>
                            <h4>PIDGEOTTO</h4>
                            <p>$1799,99</p>
                            <p>3 CUOTAS SIN INTERES</p>
                        </div>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a href="">
                        <picture>
                            <img src="/images/harry-potter/luna-1.webp" alt="">
                        </picture>
                        <div>
                            <p>HARRY POTTER</p>
                            <h4>LUNA LOVEGOOD LION MASK</h4>
                            <p>$1799,99</p>
                            <p>3 CUOTAS SIN INTERES</p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </main>
    <footer>
        <section>
            <nav>
                <ul><a href="./pages/shop/shop.html"></a>SHOP</ul>
                <ul><a href="./pages/admin/register.html"></a>REGISTRARSE</ul>
                <ul><a href="./pages/admin/login.html"></a>LOGIN</ul>
                <ul><a href="./pages/admin/contacto.html"></a>CONTACTO</ul>
            </nav>
            <picture>
                <img src="/images/branding/isotype.svg" alt="">
            </picture>
        </section>
        <p>All rights reserved 2023 - </p>
    </footer>
</body>
</html>