<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRARSE</title>
</head>
<body>
    <header>
        <nav>
            <picture>
                <img href="./index.html" src="/images/branding/logo_light_horizontal.svg" alt="logo-header">

            </picture>
            <ul>
                <li>
                    <a href="/pages/shop/shop.html">VER TIENDA</a>
                </li>
                <li>
                    <a href="/pages/admin/admin.html">ADMIN</a>
                </li>
                <li>
                    <a href="/pages/admin/">SALIR</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>CREA TU CUENTA</h2>
        <P>cOMPLETA EL FORMULARIO PARA SER PARTE DEL MUNDO DE LOS fUNKOS</P>
        <div>
            <input type="text" name="nombre" id="nombre">
            <input type="text" name="apellido" id="apellido">
            <input type="email" name="email" id="email">
            <input type="password" name="password" id="password">
            <input type="password" name="password_" id="password_">
        </div>
        <div>
            <button type="submit">Registrar</button>
            <input type="checkbox" name="acepto" id="acepto">
            <p>Acepto</p>
            <a href="">Terminos y Condiciones</a>
        </div>
    </main>
    <footer>
        <section>
            <nav>
                <ul><a href="./pages/shop/shop.html">SHOP</a></ul>
                <ul><a href="./pages/admin/register.html">REGISTRARSE</a></ul>
                <ul><a href="./pages/admin/login.html">LOGIN</a></ul>
                <ul><a href="./pages/admin/contacto.html">CONTACTO</a></ul>
            </nav>
            <picture>
                <img src="/images/branding/isotype.svg" alt="">
            </picture>
        </section>
        <p>All rights reserved 2023 - </p>
    </footer>
</body>
</html>